:root {
  --primary-color: #06060670;
  --secondary-color: #efefef;
}
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--secondary-color);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 4px;
  background-color: #06060670;
  align-items: center;
  color: white;
}
.nav .background {
  z-index: unset;
  border-radius: 0;
}
.nav > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  gap: 30px;
}
.nav .weather_icon {
  font-size: 2rem;
  color: #34749b;
}
.bar {
  display: none;
}
.nav ul {
  display: flex;
  margin: 0;
  z-index: 1;
}
.nav li {
  display: inline;
  width: 7rem;
  padding: 1rem;
  transition: 0.5s;
}
a {
  display: flex;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
.nav a.active {
  letter-spacing: 2px;
  font-weight: bold;
}
.nav a:hover {
  letter-spacing: 2px;
  font-weight: bold;
}
.App {
  text-align: center;
}
.image {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
}
.form {
  display: flex;
  align-items: center;
  width: 13rem;
  border: 1px solid rgb(87, 87, 255);
  border-radius: 13rem;
  transition: 2s;
}

.nav > div .form input {
  width: 0;
  height: 0;
  border: none;
  text-align: center;
  background-color: unset;
  transition: 2s;
}
.nav > div .form input:focus {
  border: none;
  outline: none;
}
.nav > div .form button svg {
  color: white;
  padding: 5px;
  background-color: black;
  margin: 1px -2px -2px -7px;
  border-radius: 50%;
  transition: 2s;
}
.nav > div .form:hover input {
  width: 100%;
  height: 100%;
}
.nav > div .form:hover button svg {
  color: black;
  background-color: white;
}
.nav > div .form input:focus + button svg {
  color: black;
  background-color: white;
}
.nav > div .form input:focus {
  width: 100%;
  height: 100%;
}

.form button {
  border: none;
  background-color: unset;
}
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 1rem;
  z-index: -1;
  filter: blur(1px);
}
.current-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  left: 2%;
  gap: 5px;
}
.current-weather .background {
  background-color: unset;
}
.current-weather .icon {
  font-size: 4rem;
  width: 4rem;
}
.current-weather div * {
  margin: 0;
  padding-left: 1rem;
}
.current-weather span {
  width: 5rem;
}
.current-weather div h2 {
  font-size: 5rem;
  font-weight: 100;
}
.temp {
  font-size: 5rem;
  grid-row: 1 / 3;
  grid-column: 2;
}
.info.show {
  position: absolute;
  width: 50%;
  height: 92%;
  top: 7.8%;
  bottom: 0;
  right: 0;
}
.info {
  position: absolute;
  width: 50%;
  height: 92%;
  top: 7.8%;
  bottom: 0;
  right: -50%;
  transition: 2s;
}
.info h4 {
  padding-left: 2rem;
}
.info .background {
  border-radius: 1rem 0rem 0rem 1rem;
}
.weather ul {
  margin: 0;
  padding: 15px;
}
.weather ul > li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.weather ul li * {
  display: inline;
  padding: 0.2rem;
  font-weight: 700;
}
.weather ul li span {
  width: 1rem;
}
.weather ul li .title {
  width: 5rem;
}
.temp_max {
  color: #ff7c7c;
}
.temp_min {
  color: #9090ff;
}
.icon {
  font-size: 25px;
}
.forecast {
  display: flex;
}
.forecast > li {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.forecast svg {
  font-size: 1.5rem;
  font-weight: 100;
}
.righticon {
  font-size: 25px;
  position: absolute;
  top: 45%;
  left: 0%;
  padding: 2px;
  transition: left 1s ease;
  transform: unset;
}
.righticon.left {
  position: absolute;
  top: 45%;
  left: -4%;
  transform: rotate(180deg);
  animation: moveRight 0.6s linear infinite; /* Animation properties */
}
@keyframes moveRight {
  100% {
    left: -5%;
  } /* Move to the right edge of the container */
}
.all_news {
  display: flex;
  flex-wrap: wrap;
}
.news {
  width: calc(100% / 3);
  position: relative;
  overflow: hidden;
}

.all_news .news img {
  width: 100%;
  height: 100%;
}
.all_news .news .text {
  position: absolute;
  background-color: #00000061;
  width: 100%;
  bottom: -50%;
  padding: 1rem 2rem;
  z-index: 1;
  transition: 1s;
}
.all_news .news .text h4{
  width: 90%;
}
.all_news .news:hover {
  width: 32%;
  margin: 5px;
}
.all_news .news:hover img {
  filter: blur(1px);
  border-radius: 10px;
}
.all_news .news:hover .text {
  bottom: 0%;
}
.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto;
}
.contact form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 40%;
  gap: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}
.contact h2 {
  color: var(--primary-color);
  font-size: 35px;
}
.contact input,
.contact button {
  border-radius: 1.5rem;
  height: 3rem;
  border: 0.1px solid var(--primary-color);
}
.contact .text {
  border-radius: 1.5rem;
  height: 8rem;
  padding-top: 1rem;
  padding-left: 1rem;
  border: 0.1px solid var(--primary-color);
  resize: none;
}
.contact input {
  padding-left: 1rem;
}
.contact button {
  background-color: var(--primary-color);
  font-size: 20px;
  color: white;
}
.contact img {
  width: 50%;
}
@media (max-width: 800px) {
  body {
    color: #111010;
  }
  .nav ul {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 0;
    top: -10rem;
    transition: 2s;
  }
  .nav li {
    width: 100%;
  }
  .nav li:hover {
    background-color: #0606069c;
  }
  .bar {
    display: block;
    z-index: 1;
  }
  .appear {
    top: 3rem !important;
    transition: 2s;
  }
  .current-weather {
    justify-content: center;
  }

  .current-weather div h2 {
    font-size: 2rem;
  }
  .temp {
    font-size: 3rem;
  }
  .current-weather .icon {
    font-size: 3rem;
  }
  .weather .background {
    display: none;
  }
  .weather * {
    position: unset;
  }
  h4 {
    margin: 0;
  }
  .info {
    width: 100%;
  }
  .righticon {
    display: none;
  }
  .forecast {
    margin-top: 1rem;
    justify-content: unset;
  }
  .news {
    width: 100%;
  }
  .all_news .news:hover {
    width: unset;
    margin: unset;
  }
  .all_news .news .text {
    bottom: 30%;
  }
  .all_news .news .text {
    background-color: #00000061;
  }
  .contact form {
    width: 80%;
  }
  .contact img {
    display: none;
  }
}
